:root {
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;

	--color-accent: #007cba;
	--color-secondary: #ffffff;
	--color-text: #444;
	--color-border: #7e8993;
}

body {
	background: #fff;
}

.ptg-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 15px 0;

	.ptg-row {
		margin: 0;
	}
}

.ptg-col-6 {
	flex: 0 0 60%;
	padding: 15px;
}

.ptg-col-3 {
	flex: 0 0 20%;
	padding: 15px;
}

.ptg-align-start {
	align-items: start;
}

/** Typo **/
h1 {
	text-align: center;
}

h2 {
	font-size: var(--text-md);
	line-height: 2;
}

/** Elements **/
#ptg-root {
	margin: 50px 0;

	code {
		background: rgb(40, 42, 54) none repeat scroll 0% 0%;
		color: inherit;
	}

	label {
		font-weight: bold;
		cursor: pointer;
	
		label {
			font-weight: normal;
			margin-right: 30px;
		}
	}

	input,
	textarea {
		font-weight: normal;
	}

	[type=text] {
		width: 270px;
		padding: 0 8px;
		height: 30px;
		line-height: 30px;
	}

	[type=checkbox] {
		margin-top: -1px;
		margin-right: 8px;
	}

	[type=radio] {
		margin-top: 4px;
		margin-right: 8px;
	}

	textarea {
		width: 600px;
		min-height: 50px;
		padding: 8px 18px;
	}
}

.ptg-label {
	width: 300px;
}

.ptg-description {
	font-weight: normal;
	margin-bottom: 0;
}

.ptg-button {
	background-color: var(--color-accent);
	color: var(--color-secondary);
	border: 0;
	padding: 8px 10px;
	border-radius: 2px;
	margin-bottom: 30px;
	cursor: pointer;

	&:hover {
		opacity: .9;
	}
}

.react-tabs {
	&__tab-list {
		display: flex;
	}

	&__tab-panel {
		padding: 15px 15px 100px;
	}

	&__tab--selected {
		h2 {
			color: var(--color-text);
		}
	}
}

/** Common **/
.ptg-required {
	color: red;
	font-weight: bold;
	margin-left: 3px;
}

#show_in_menu,
#menu_position {
	width: 400px;

	> div {
		font-weight: normal;
		border-radius: 2px;
		border-color: var(--color-border);
	}
}

@import "./dashicons";

#menu_icon {
	align-items: start;

	.ptg-row {
		width: calc(100% - 300px);
	}
}

.ptg-icon-single {
	position: relative;
	display: inline-block;
	margin: 0 5px 5px 0;

	i {
		border: 1px solid var(--color-border);
		border-radius: 3px;
		text-align: center;
		width: 36px;
		height: 36px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	[type=radio] {
		position: absolute;
		opacity: 0;

		&:checked~i {
			color: var(--color-secondary);
			background-color: var(--color-accent);
		}
	}
}